
form i {
    margin-left: -30px;
    cursor: pointer;
    position: relative;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0px 121px 0px 121px;
}

input {
    width: 150px;
    height: 15px;
}
#inputPassword{
    width: 150px;
    height: 15px;
    position:relative;
}
#ShowIcon{
    position: absolute;
    top:2px;
    right:0;
}
#HideIcon{
    position: absolute;
    top:2px;
    right:0;
    display: none;
}
form{
    background-color: aliceblue;
    width: 400px;
    height: 200px;
    margin: 0% 0% 0% 35%;
}
.btn{
    margin: 80px 125px;
}
#btnLogin
{
    height: 30px;
    width: 150px;
}